<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU6alfqBAsqU6HvjDlzyhG89M3KcHE5Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>821785474289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbaseApp</string>
	<key>PROJECT_ID</key>
	<string>project-todo-1708c</string>
	<key>STORAGE_BUCKET</key>
	<string>project-todo-1708c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821785474289:ios:1eceff032c1c34a6072550</string>
</dict>
</plist>